.footer {
    background: var(--bg-light);
}

.footer__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    padding: 23px 0;
}

.footer__left {
    display: flex;
    flex-direction: column;
    grid-column: 3 span;
}

.footer__nav {
    display: flex;
    column-gap: 60px;
    grid-column-start: 4;
    grid-column-end: 8;
}

.footer__right {
    grid-column-start: 11;
    grid-column-end: 13;
}

.footer__logo a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer__logo span {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-green);
}

.footer__contact {
    width: 100%;
    margin-top: auto;
}

.footer__phone {
    font-size: 20px;
    color: var(--text-dark);
}

.footer__master {
    font-size: 18px;
    color: var(--text-light);
}

.footer__column h3 {
    font-size: 20px;
    color: var(--text-dark);
}

.footer__column-links li {
    margin-top: 6px;
}

.footer__column-links li a {
    font-size: 18px;
    line-height: 150%;
    color: var(--text-light);
}

.footer__column-links li a:hover {
    color: var(--primary-green);
}

.footer__social {
    display: flex;
    column-gap: 30px;
}

.footer__copyright {
    margin-top: 10px;
    font-size: 12px;
    line-height: 120%;
    color: var(--text-light);
}

/* Мобильная версяи контактов */
.footer__contact-mobile {
    display: none;
}

@media (max-width: 768px) {
    .footer__content {
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: auto auto;
        row-gap: 30px;
    }

    .footer__left {
        flex-direction: row;
        justify-content: space-between;
        grid-column: 11 span;
    }
    .footer__contact {
        width: auto;
        margin-top: 0;
    }

    .footer__nav {
        grid-column: 8 span;
    }

    .footer__right {
        grid-column-start: 9;
        grid-column-end: 12;
    }
}

@media (max-width: 576px) {
    .footer__content {
        grid-template-rows: auto auto auto;
        row-gap: 30px;
    }

    .footer__nav {
        grid-column: 11 span;
    }

    .footer__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        grid-row-start: 3;
        grid-column: 11 span;
    }

    .footer__copyright br {
        display: none;
    }

    .footer__column h3 {
        font-size: 20px;
        color: var(--text-dark);
    }

    .footer-column__links li a {
        font-size: 16px;
    }

    .footer__nav {
        position: relative;
        padding-bottom: 5px;
    }
    .footer__nav::before {
        content: '';
        position: absolute;
        bottom: -16px; left: 0;
        width: 100%;
        height: 1px;
        background: #C3D1C6;
    }
}

@media (max-width: 320px) {
    .footer__content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .footer__nav {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0;
        gap: 12.5vw;
        row-gap: 20px;
    }
    .footer__contact-mobile .footer__phone  {
        font-size: 16px;
    }
    .footer__contact-mobile .footer__master  {
        font-size: 16px;
    }
    .footer__column.reproduction h3 {
        font-size: 16px;
    }
    .footer__column.news {
        max-width: 136px;
        width: 100%;
    }

    .footer__contact {
        display: none;
    }
    .footer__contact-mobile {
        display: block;
    }
    .footer__right {
        margin-top: 20px;
    }
    .footer__nav::before {
        bottom: -20px;
    }
}
