.header {
    background-color: var(--bg-light);
}

.header__content {
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo-link {
    display: flex;
    align-items: center;
}

.header__logo-text {
    font-weight: 700;
    color: var(--primary-green);
    margin: auto 0;
    margin-left: 8px;
}

.header__links {
    display: flex;
    gap: 60px;
}
.header__links .links {
    display: flex;
    align-items: center;
    gap: 60px;
}

/* Menu mobile */

    /* Mobile menu no display */
    .menu-mobile {
        display: none;
    }

    /* Mobile menu yes display */
    @media (max-width: 480px) {
        .menu-mobile {
            display: block;
        }
    }

/*  */

@media (max-width: 768px) {
    .header__links a {
        font-size: 18px;
    }
}

@media (max-width: 620px) {
    .header__content {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        padding: 16px 0;
    }
    .header__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 16px;
        border-bottom: 1px solid #C3D1C6;
    }
    .header__links {
        width: 100%;

        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 480px) {
    .header {
        background: #fff;
    }
    .header__content {
        padding: 16px 0 0 0;
    }

    .header__links {
        position: relative;
        background: none;
        padding: 19px 0;
        z-index: 1;
    }
    .header__links::after {
        content: '';
        position: absolute;
        background: var(--bg-light);
        left: -20px; right: -20px; top: 0px; bottom: 0px;
        z-index: -1;
    }
    .header__links .links {
        display: none;
    }

    .header__content {
        gap: 10px;
    }

    .header__logo {
        border: none;
        padding-bottom: 10px;
    }
}