.hero__content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero__left img {
    max-width: 540px;
    width: 100%;
}

.hero__right {
    max-width: 540px;
}

.hero-right__title {
    font-size: 60px;
    color: var(--text-dark);
    padding-bottom: 20px;
}
.hero-right__title span {
    color: var(--primary-green);
}

.hero-right__info {
    font-size: 18px;
    line-height: 1.5;
    color: var(--text-light);

    padding-bottom: 60px;
}

.hero-right__button {
    width: 227px;
    height: 65px;
}

.menu-mobile {
    display: none;
}
.hero__mobile {
    display: none;
}

@media (max-width: 800px) {
    .hero__right {
        max-width: 330px;
    }

    .hero-right__title {
        font-size: 40px;
    }
    .hero-right__info {
        padding-bottom: 40px;
    }

    .hero-right__button {
        width: 210px;
        height: 60px;
    }
}

@media (max-width: 600px) {
    .hero__content {
        padding-top: 50px;
    }

    .hero__right {
        max-width: 330px;
    }

    .hero-right__title {
        font-size: 36px;
        padding-bottom: 0px;
    }
    .hero-right__info {
        font-size: 16px;
        padding: 10px 0;
    }

    .hero-right__button {
        width: 178px;
        height: 50px;
    }
}

@media (max-width: 480px) {
    .hero__left {
        display: none;
    }

    .hero__content {
        padding-top: 60px;
    }

    .hero__right {
        max-width: none;
    }

    .hero-right__title {
        font-size: 30px;
        padding-bottom: 20px;
        line-height: 1;
    }
    .hero-right__info {
        font-size: 14px;
        padding: 0 0 40px 0;
    }

    .hero-right__button {
        width: 154px;
        height: 50px;
    }

    .hero {
        position: relative;
    }

    /* mobile menu */
    .menu-mobile {
        display: block;
        height: 30px;
        width: 30px;
        padding: 6.5px 4.5px;
    }

    .menu-mobile__container {
        display: flex;
        position: relative;
        align-items: center;
        z-index: 2;
        height: 100%;
        width: 100%;
    }

    .menu-mobile span {
        height: 2px;
        width: 100%;
        background: #4C5866;
        transition: all 0.3s ease;
    }

    .menu-mobile__container::after, .menu-mobile__container::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background: #4C5866;
        transition: all 0.3s ease;
    }

    .menu-mobile__container::after {top: 0;}
    .menu-mobile__container::before {bottom: 0;}

    .hero__mobile {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px; left: -200%; right: 0; bottom: 0;
        background-color: var(--bg-light);
        transition: all 0.4s ease;
    }
    .hero-mobile__links {
        display: flex;
        flex-wrap: wrap;
        max-width: 150px;
        gap: 50px;
        padding-top: 16px;
    }

    /* add active class */
    .menu-mobile__container.active span {
        transform: scale(0);
    }
    .menu-mobile__container.active::after {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }
    .menu-mobile__container.active::before {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }

    .hero__mobile.active {
        left: 0;
    }
    /*  */
}